@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

    html {
        height: 100%;
    }

    body {
        background: var(--dark-bg);
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-size: 19px;
        color: var(--dark-txt);
        margin: 50px;
        letter-spacing: 1px;
    }

    #app {
        max-width: 1000px;
        padding: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        color: var(--light-txt);
    }

    .heading .title {
        font-size: 54px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .heading .subtitle {
        letter-spacing: 2px;
        font-weight: 400;
        margin-bottom: 85px;
    }

    .tipsButton {
        display: inline;
        margin-left: 20px;
    }

    .modal-body ul {
        margin: 0px;
    }

    input {
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid var(--dark-txt);
        margin: 20px 30px 20px 0px;
        color: var(--dark-txt);
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-size: 19px;
        letter-spacing: 1px;
    }

    input:focus {
        color: var(--light-txt);
        border-bottom: 1px solid var(--light-txt);
    }

    input::placeholder {
        opacity: 1;
        color: var(--dark-txt);
    }

    input:focus::placeholder {
        opacity: 1;
        color: var(--light-txt);
    }

    .inline {
        display: inline-block;
    }

button.close {
    background: transparent;
    border: transparent;
    color: var(--dark-txt);
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
    margin: 2px;
}

    button.close:hover {
        color: var(--light-txt);
        cursor: pointer;
    }

button.pill {
    font-size: 17px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    background-color: var(--light-bg);
    border: none;
    color: var(--dark-txt);
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px 35px 35px 0px;
    cursor: pointer;
    border-radius: 7px;
}

    button.pill:hover {
        color: var(--light-txt);
    }

    .result p {
        margin: 14px 0px;
    }

    .changeOnHover {
        color: var(--dark-txt);
    }

    .changeOnHover:hover {
        color: var(--light-txt);
        cursor: pointer;
    }

    .result p.footnote {
        margin-top: 28px;
        font-size: 14px;
        display: inline;
        margin-right: 11px;
    }

    .result i {
        font-size: 16px;
    }

    .result a {
        text-decoration: none;
        color: var(--dark-txt);
    }

    .result a:hover {
        color: var(--light-txt);
        cursor: pointer;
    }

    .result .coverArt {
        box-shadow: 0 0 10px rgba(0,0,0,.3);
        height: 140px;
    }

    .result .coverArt img {
        object-fit:cover;
        width: 140px;
        height: 140px;
    
    }

    .result .flexContainer {
        display: flex;
        padding: 20px;
    }

    .result .flexContainer:hover {
        background-color: var(--light-bg);
        cursor: pointer;
    }

    .result .playlistInfo {
        flex-grow: 1;
        padding-left: 20px;
        padding-right: 20px;
    }

    .result .songCount .count {
        font-family: 'Quicksand', sans-serif;
    }


    .result .songCount p {
        text-align: center;
        color: var(--dark-txt)
    }